/* Mobile  -> 576px
Tablet  -> 768px
Laptop  -> 992px
Desktop -> 1200px */
  /* @media screen and (max-width:1200px) { 
      
  }
  @media screen and (max-width:992px) {
     
  }
  @media screen and (max-width:768px) {
    
  } */
  @media screen and (max-width:576px) {
    .aboutme{
        display: block;
        
    }
    .skills{
        flex-direction: column;
    }
    .skillcard{
        min-width: 70%;
        padding: 1rem;
    }
    .projects{
        flex-direction: column;
    }
    .projectcard{
        min-width: 95%;
        padding: 1rem;
    }
  }










*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    /* background:linear-gradient(45deg, blueviolet, lightgreen); */
    font-family: 'Roboto', sans-serif;
    
    
}
.navbar{
    padding-block: 2rem;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    /* background-color: rgb(127, 0, 255); */
    background-color: #9400ff;

}

.navlink a{
    margin-inline: 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    
}
.navlink a:hover{
        
    margin-inline: 1rem;
    text-decoration: none;
    transition: 0.15s;
    /* border: #145DA0 solid 3px; */
    border-radius: 8px;
    /* font-size: 1.2rem; */
    font-weight: bolder;
    padding-inline: 1rem;
    color: white;
    /* background-color: #145DA0; */

    /* box-shadow: 0 10px 15px rgba(0,0,0,.3); */
    /* transform: scale(1.03); */
}

.maincontent{
    
    font-size: 1rem;
    
    
    
}


#aboutme{
    
    
    background-image: url('images/whitebg.png');
    
    min-height: 500px;

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.abtpara{
    padding-block: 15%;
    
    padding-left: 10%;
    padding-right: 40%;
    
    font-weight: 900;   
}

.education{
    padding-block: 10%;
    padding-right: 10%;
    padding-left: 45%;
    
    font-weight: 900;
    min-height: 500px;

    background-image: url('images/whiteedu.png');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skills{
    /* min-height: 100vh; */
    padding-top: 5%;
    padding-inline: 3%;
    padding-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    gap: 1rem;
    
}
.skillcard{
    
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding-top: 50px;
    border-radius: 10px;
    /* width: 500px;
    height: 400px; */
    width: 20%;
    height: 400px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background:linear-gradient(45deg, #7f00ff, #e100ff);
    /* background: linear-gradient(45deg, #ff00d4, #00ddff); */
    /* background:linear-gradient(45deg, #00a1ff, #00ff8f); */
    color: black;
    
    
}
.skillcard:hover{
    
    /* transform: translate(-5px,-5px); */
    /* border-radius: 10px; */
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
    
    
}

.projects{
    padding-top: 5%;
    padding-bottom: 10%;
    padding-inline: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    gap: 1rem;

}
.projectcard{

    /* background:linear-gradient(45deg, #00a1ff, #00ff8f); */
    background:linear-gradient(45deg, #7f00ff, #e100ff);


    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding-top: 50px;
    border-radius: 10px;
    width: 30%;
    height: 400px;
    color: black;

}

.projectcard:hover{
    
    /* transform: translate(-5px,-5px); */
    /* border-radius: 10px; */

    transform: scale(1.03);
}



.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#contactme{
    border-right: black solid 2px;
}

.sec1{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}



#linkedin:hover::after{
    display: block;
    content: 'LinkedIn'; 
    /* color: rgb(55, 54, 54); */
    font-size: 0.8rem;
}
#github:hover::after{
    display: block;
    content: 'GitHub'; 
    /* color: rgb(55, 54, 54); */
    font-size: 0.8rem;
}
#leetcode:hover::after{
    display: block;
    content: 'Leetcode'; 
    /* color: rgb(55, 54, 54); */
    font-size: 0.8rem;
}
#hackerrank:hover::after{
    display: block;
    content: 'HackerRank'; 
    /* color: rgb(55, 54, 54); */
    font-size: 0.8rem;
}

.sec2{
    
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.contactyouform{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
    
}
input{
    
    width: 50ch;
    border-radius: 10px;
    background-color: #eee;
    border: #eee solid 1px;
    padding: 0.5rem;
}

#submit{
   
    width: 10ch;
    background-color: #7f00ff;
    border-style: none;
    color: white;
    font-weight: bolder;
    
}

#comments{
    
    padding-bottom: 15ch;
}



.footer2{
    margin-top: 1rem;
    background-color: rgb(127, 0, 255);
    padding: 2rem;
    color: white;
}


#btn{
    padding-inline: 1ch;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #7f00ff;
    border-radius: 20px;
    width: 5ch;
    height: 3ch;
}
#togglebtn{
    
    height: 2.2ch;
    width: 2.2ch;
    border-radius: 50%;
    background-color: #eee;
    border-style: none;
}
